<h1>画像投稿フォーム</h1>
<%= form_with model: @wine, local:true do |f| %>
  <h4>画像</h4>
  <%= f.attachment_field :image %>
  <%= f.text_area :colour %>
  <%= f.text_area :comment %>
  <%= f.text_area :age %>
  <%= f.text_area :origin %>
  <%= f.text_area :scent %>
  <%= f.text_area :taste %>
  <%= f.text_area :kinds %>
 <div id="rating-form">
        <label>総合評価：</label>
        <%= f.hidden_field :rate, :value => 'score' %>
</div>
 <%= f.submit '投稿' %>
<% end %>
<script>
    $('#rating-form').raty({
        starOn: "<%= asset_path('star-on.png') %>",
        starOff: "<%= asset_path('star-off.png') %>",
        scoreName: 'wine[rate]'
    });
</script>