<h1>画像投稿フォーム</h1>
<div class=container>
    <div class="row">

        <%= form_with model: @wine, local:true do |f| %>
          <h4>画像</h4>

            <p><%= f.attachment_field :image %></p>
            <p>名前：<%= f.text_area :winename %></p>
            <p>色：<%= f.text_area :colour %></p>
            <p>感想：<%= f.text_area :comment %></p>
            <p>年代：<%= f.text_area :age %></p>
            <p>産地：<%= f.text_area :origin %></p>
            <p>香り：<%= f.text_area :scent %></p>
            <p>味：<%= f.text_area :taste %></p>
            <p><%= f.label :kinds, '赤ワイン', value: 2 %>
            <%= f.radio_button :kinds, '赤ワイン' %>
            <%= f.label :kinds, '白ワイン', value: 1 %>
            <%= f.radio_button :kinds, '白ワイン' %>
            <%= f.label :kinds, 'ロゼ', value: 0 %>
            <%= f.radio_button :kinds, 'ロゼ' %></p>
          <div id="rating-form">
                <label>評価：</label>
                <%= f.hidden_field :rate, :value => 'score' %>
          </div>
         <%= f.submit '投稿' %>
        <% end %>
        <script>
            $('#rating-form').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: 'wine[rate]'
            });
        </script>
    </div>
</div>