<h1>画像投稿フォーム</h1>

<div class=container>
    <div class="row">

        <%= form_with model: @wine, local:true do |f| %>
          <h4>画像</h4>

            <div class="table-bordered"><%= f.attachment_field :image %></div><br>
            <div class="table-bordered">名前：<%= f.text_area :winename %></div><br>
            <div class="table-bordered">色：<%= f.text_area :colour %></div><br>
            <div class="table-bordered">感想：<%= f.text_area :comment %></div><br>
            <div class="table-bordered">年代：<%= f.text_area :age %></div><br>
            <div class="table-bordered">産地：<%= f.text_area :origin %></div><br>
            <div class="table-bordered">香り：<%= f.text_area :scent %></div><br>
            <div class="table-bordered">味：<%= f.text_area :taste %></div><br>
            <div class="table-bordered"><%= f.label :kinds, '赤ワイン', value: 2 %></div>
            <div class="table-bordered"><%= f.radio_button :kinds, '赤ワイン' %></div><br>
            <div class="table-bordered"><%= f.label :kinds, '白ワイン', value: 1 %></div>
            <div class="table-bordered"><%= f.radio_button :kinds, '白ワイン' %></div><br>
            <div class="table-bordered"><%= f.label :kinds, 'ロゼ', value: 0 %>
            <div class="table-bordered"><%= f.radio_button :kinds, 'ロゼ' %></div><br>
           <div class="table-bordered">
                <div id="rating-form">
                    <label>評価：</label>
                        <%= f.hidden_field :rate, :value => 'score' %>
                </div>
           </div><br>
             <%= f.submit '投稿' %>
        <% end %>
        <script>
            $('#rating-form').raty({
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: 'wine[rate]'
            });
        </script>
    </div>
</div>

