<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="m-5">
        <%= attachment_image_tag @wine, :image , class: 'indexImage'%>
      </div>
    </div>
    <div class="col-7">
      <div class="m-5">
        <p>色：<%= @wine.colour %></p>
      </div>
      <div class="m-5">
        <p>感想：<%= @wine.comment %></p>
      </div>
      <div class="m-5">
        <p>年代：<%= @wine.age %></p>
      </div>
      <div class="m-5">
        <p>産地：<%= @wine.origin %></p>
      </div>
      <div class="m-5">
        <p>香り：<%= @wine.scent %>
      </div>
      <div class="m-5">
        <p>味：<%= @wine.taste %></p>
      </div>
      <div class="m-5">
        <p>種類：<%= @wine.kinds %></p>
      </div>
      <div class="m-5">
        <P><%= link_to 'edit',edit_wine_path(@wine) %></P>
        <P><%= link_to 'destroy',wine_path(@wine),method: :delete,data: { confirm: 'えー本当に？？？' } %></P>
      </div>
    </div>
  </div>
</div>